In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('./Football teams.csv')
df

,Team,Tournament,Goals,Shots pg,yellow_cards,red_cards,Possession%,Pass%,AerialsWon,Rating
0,Manchester City,Premier League,83,15.8,46,2,60.8,89.4,12.8,7.01
1,Bayern Munich,Bundesliga,99,17.1,44,3,58.1,85.5,12.9,6.95
2,Paris Saint-Germain,Ligue 1,86,15.0,73,7,60.1,89.5,9.5,6.88
3,Barcelona,LaLiga,85,15.3,68,2,62.4,89.7,10.6,6.87
4,Real Madrid,LaLiga,67,14.4,57,2,57.7,87.7,11.8,6.86
...,...,...,...,...,...,...,...,...,...,...
93,Sheffield United,Premier League,20,8.5,73,3,43.0,76.9,19.1,6.46
94,Crotone,Serie A,45,9.5,85,4,47.2,80.4,12.7,6.43
95,Benevento,Serie A,40,11.0,90,5,44.2,77.7,13.4,6.43
96,Dijon,Ligue 1,25,9.2,75,5,46.9,80.0,14.3,6.42
97,Schalke 04,Bundesliga,25,8.9,70,2,46.2,76.5,15.6,6.41

각 Column의 정보는 다음 링크에 있는 것과 같습니다.

https://www.kaggle.com/varpit94/football-teams-rankings-stats

## Assignments 1
패스 성공률이 높은 상위 5개의 팀을 추출 해 보세요
(hint: sort_values, head)

In [8]:
a1 = df.sort_values('Pass%',ascending = False).head()
a1

,Team,Tournament,Goals,Shots pg,yellow_cards,red_cards,Possession%,Pass%,AerialsWon,Rating,score
3,Barcelona,LaLiga,85,15.3,68,2,62.4,89.7,10.6,6.87,146
2,Paris Saint-Germain,Ligue 1,86,15.0,73,7,60.1,89.5,9.5,6.88,181
0,Manchester City,Premier League,83,15.8,46,2,60.8,89.4,12.8,7.01,102
6,Juventus,Serie A,77,15.7,76,6,55.4,88.3,11.4,6.85,182
35,Sassuolo,Serie A,64,13.9,74,4,58.2,87.8,10.9,6.67,168

## Assignments 2
모든 팀 중에서 점유율이 60% 이상인 팀을 추출 하세요

In [14]:
a2=df[df['Possession%']>=60]
a2

,Team,Tournament,Goals,Shots pg,yellow_cards,red_cards,Possession%,Pass%,AerialsWon,Rating,score
0,Manchester City,Premier League,83,15.8,46,2,60.8,89.4,12.8,7.01,102
2,Paris Saint-Germain,Ligue 1,86,15.0,73,7,60.1,89.5,9.5,6.88,181
3,Barcelona,LaLiga,85,15.3,68,2,62.4,89.7,10.6,6.87,146

## Assignments 3
5대 리그 중, 제일 과격 한 리그는 무엇일까요? 일단 Yellow Card 갯수 순서로 리그를 정렬 해 주고, 거기서 yellow_cards와 red_cards 수로 정렬 해 주세요!
(hint: groupby, sum, loc)

In [54]:
a3=df.groupby('Tournament').sum().loc[:,'yellow_cards':'red_cards'].sort_values(by='yellow_cards',ascending=False)
a3

                yellow_cards  red_cards
Tournament
LaLiga                  1639         75
Serie A                 1597         69
Ligue 1                 1419        102
Premier League          1095         48
Bundesliga              1081         33

## Assignments 4

생각해 보니 레드 카드도 감안을 해야 할 것 같습니다. 레드 카드 5점, 옐로우 카드 2점으로 점수를 산정 하여, 해당 점수를 바탕으로 정렬해서, 진짜 과격한 리그가 어느 리그인지 알아 보도록 해봐요!

아 맞다, df['A'] = df['B'] * 5 + df['C'] * 2

이런 식으로 새로운 Column을 만들면 되지 않을까요?

In [56]:
df['score'] = df['red_cards']*5 + df['yellow_cards']*2
a4=df.groupby('Tournament').sum().sort_values(by='yellow_cards', ascending=False).loc[:, ['yellow_cards', 'red_cards', 'score']]
a4

                yellow_cards  red_cards  score
Tournament
LaLiga                  1639         75   3653
Serie A                 1597         69   3539
Ligue 1                 1419        102   3348
Premier League          1095         48   2430
Bundesliga              1081         33   2327

## Assignments 5
흠.. 근데 패스 성공률과 점유율의 상관관계에 대해서 알아보고 싶은데.. 선형 적인 면에서 이를 알 수 있을까요? numpy를 이용해서 covariance matrix를 통해서 알아 보면 될 것 같은데...

hint: to_numpy, T, cov

In [64]:
#ㅠㅠ,,.